* {
    margin: 0;
    box-sizing: border-box;
    /* background-color: #412234; */
    color: antiquewhite;
    font-family: 'Roboto Mono', monospace;
}

html{
    background: url("./assets/backgrounds/BackdropBlackLittleSparkTransparent.png"), linear-gradient(#412234, #271e23);
    max-width: 1300px;
    margin: auto;
    min-height: 100%;
}

main{
    width: 75%;
    margin: auto;
}

.progress-link{
    margin: auto;
    font-size: 2.2rem;
    padding: 0.5rem;
    border: 2px solid #e0a910;
    background-color: #351f2b;
}

/* NAVBAR */
nav{
    font-size: 1.4rem;

    width: 50%;
    min-width: 500px;
    padding: 1rem 4rem;

    display: flex;
    justify-content: space-between;
}

/* HOME */
.home{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.home--content{
    display: flex;
    gap: 1rem;
}

.home--content > p {
    border: 2px solid #e0a910;
    background-color: #351f2b;
    font-size: 1.55rem;
    text-align: center;
}

.home--content > img{
    border: 2px solid #e0a910;
    width: 225px;
}

/* CHECKOUT */
.checkout{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
}

/* SHOP */
.shop{
    display: flex;
    flex-direction: column;
}

.shop--nav{
    display: flex;
    justify-content: space-between;
}

.shop--item-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.shop--item{
    margin: 1rem;
    border: 2px solid #e0a910;
    border-radius: 4px;
    padding: 0.5rem;
    background-color: #351f2b;

    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.shop--item  *{
    background-color: #351f2b;
}

.shop--item-header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0.5rem;
}

.shop--item-name{
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
}

.shop--item-price{
    display: flex;
    gap: 0.5rem;
}

/* CART */

.cart--container{
    border: 2px solid #e0a910;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #351f2b;
}

.cart--item > hr{
    border: 1px solid #1a1618;
}

.cart--item:last-child > hr{
    display: none;
}


.cart--item-container{
    height: 3.75rem;

    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr 1fr;
    gap: 0.6rem;
    background-color: #351f2b;
}

.cart--item-container *{
    display: flex;
    align-items: center;
    background-color: #351f2b;
}

.cart--item-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart--item-name{
    font-weight: bold;
    font-size: 1rem;
}

.cart--item-price{
    display: inline;
    margin: auto 0;
}

.cart--item-total{
    text-align: right;
}

.cart--total-container{
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cart--total-display{
    font-size: 1.8rem;
}

.cart--checkout-button{
    font-size: 1.75rem;
    background-color: #351f2b;
}